{% extends 'base.html.twig' %}



{% block body %}
  {# 
  {% for movie in movies %}
    <li> {{ movie }} </li>
  {% endfor %}
   #}

   <h1 class="bg-blue-500 text-2xl text-center font-bold">Woohoo.</h1>
{% endblock %}