{% extends 'base.html.twig' %}



{% block body %}
  {# 
  {% for movie in movies %}
    <li> {{ movie }} </li>
  {% endfor %}
   #}

   <h1 class="bg-blue-500 text-2xl text-center font-bold">Woohoo.</h1>

    <img src="{{ asset('build/images/image1.365df6d0.jpg') }}" alt="">
{% endblock %}